
body{
    background-color: #333333;
background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
margin: 0;
padding: 5px;
}
.titleimagecontainercontianer{
    height: 100%;
     
}
.wrapper{
max-width: 1320px;
margin-left: 100px;
margin-right: 100px;
}


.titleimagecontainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/ptboimg.jpg);
    position: relative;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.titles{
font-size: 50px;
color: #ffffff;
text-shadow: 2px 2px 5px #000000;
}
.list{
    color: white;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
    font-family: enoriteFont;


}

.titleimage{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    text-align: left;

}
.proposal{
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    align-items: center;
}
    

.PEC {
    color: #e0d8d8;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
h1{

    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    margin: 25px;
}
h2{
text-align: center;
color: #ffffff;
text-shadow: 2px 2px 5px #000000;
font-size: 30px;
}
h3{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
	font-size: 28px;
}

h4{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
	font-size: 24px;
}

p{
    text-align: left;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
    font-family: enoriteFont;
}
.teamwriteup{
    text-align:center;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
    font-family: enoriteFont;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    width: 50px;
  }
/* Customization of the navigation bar */
.navbar {
	overflow: hidden;
	background-color: var(--navbar-color);
	transition: .3s ease-in-out;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
    height: 75px;
    width: 100px;
}
#studyarea{
 display: block;
	height:500px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
#survey123{
    display: block;
	height:600px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
   }
   

/* Customization of the links in the navigation bar */
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

/* Selects active class for current page */
.active {
	background-color: #637e77;
	color: white;
}

/* Customization of the navigation bar dropdown */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Customization of the dropdown button */
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Customization of the navigation bar links when mouse hovers over them */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #7ea69c;
	transition: 0.3s;
}

/* Customization of the navigation bar dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Customization of the links in the navigation bar dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	/* Fade in animation for the drop down menu for several different browsers */
	animation-duration: 0.5s;
    animation-name: fadeInFromNone;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInFromNone;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: fadeInFromNoneIE;
    -ms-animation-fill-mode: forwards;
}

/* Key frames animation webkit for older versions of chrome and safari */
@-webkit-keyframes fadeInFromNone {
    0% {opacity: 0}
    1% {opacity: 0}
    100% {opacity: 1}
}
/* Key frames animation for internet explorer */
@keyframes fadeInFromNoneIE {
    0% {opacity: 0}
    1% {opacity: 0}
	100% {opacity: 1}
}
/* Key frames animation for modern browsers that follow standard CSS specifications */
@keyframes fadeInFromNone {
    0% {opacity: 0}
    1% {opacity: 0}
    100% {opacity: 1}
}

/* Customization of the navigation bar dropdown text when mouse hovers over them */
.dropdown-content a:hover {
	background-color: #e0e0e0;
}

/* Shows the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	opacity: 1;
	visibility: visible; 
}

/* Responsive Design for the navigation bar, heighter max with threshold to prevent stacking */
@media screen and (max-width: 925px) {
	/* Selects navbar links and the drop btn class in dropdown class */
	.navbar a, .dropdown .dropbtn {display: none;}
	
	/* Selects all elements in the navbar and responsive class */
	.navbar.responsive {position: relative;}
	
	/* Selects links in both navbar and responsive class */
	.navbar.responsive a {
		float: none;
		display: block;
	  	text-align: left;
	}
	
	/* Selects dropdown in the navbar and responsive class */
	.navbar.responsive .dropdown {float: none;}
    	
	/* Selects dropdown content in the navbar and responsive class */
	.navbar.responsive .dropdown-content {
		position: relative;
		/* Dropdown stays open in responsive so user knows what page they are on - removing this line of code makes the dropdown work normally */
		display: block;
	}
	
	/* Selects dropdown button in the navbar and responsive class */
	.navbar.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
	
	/* Selects hamburger class (menu icon) */
	.hamburger {
		cursor: pointer;
		float: right;
		transition: ease-in-out.3s;
		position: relative;
		padding-right: 5px;
		display: block;
	}
	
	/* CSS for the 3 bars, adding a transition effect as well so when the animation is run there is a smooth transition */
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
		transition: 0.3s;
	}
	
	/* Animation, where bars 1 and 3 will move to a 45 degree angle and the middle bar will disappear */
	.change .bar1 {transform: translate(0, 11px) rotate(-45deg);}
	.change .bar2 {opacity: 0;}
	.change .bar3 {transform: translate(0, -11px) rotate(45deg);}
}
 

	footer {
        border-radius: 25px;
   
        display: block;
        background-color: #458885;
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
        padding: 10px 0; /* Adjust padding as needed */
        margin: 0; /* Ensure there's no margin affecting the width */
     
    }
 

 .container{
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    
 }
 .row{
 
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
 .member{
 
    box-sizing: border-box;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    max-width: 100%;
  
    padding: left 15px; ;
    padding-right: 20px;
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    margin: top 20px;
    
}

.circle{

	 
    text-align: center;
    width: 140px;
    aspect-ratio: auto 140 / 140;
    height: 140px;
    box-sizing: border-box;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    vertical-align: middle;
    border-radius: 50%!important;
}

.job-title{
   
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #a8a8a8;
    font-style: italic;
}

.name{
text-align: center;
    color: #dbe2e9;
    font-size: 26px;
    font-weight: bold;
    margin-top: 32px;
}
.footer{
    text-align: center;
    font-size: 25px;
    color: #e0d8d8;
    text-shadow: 2px 2px 5px #1f1f1f;
}
.btn{
	
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);;
 
   
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
  border-color:transparent;
    user-select: none;
  font-size: 20px;
  border-radius: 10px;
    background-color: #5c5c5d;
    padding-top:  10px; ;
    padding-bottom: 10px ;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 1.5;
    border-width: 1px;
    color:whitesmoke;
}

ol{

    color: #e0e0e0;
    font-family: enoriteFont;
}
.results{
height:75%;
 
 
    display: block;
	margin-left: auto;
	margin-right: auto;
}
.mapbook
{
    display: block;
	height:500px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.columnMB {
  float: left;
  width: 25%;
  padding: 4px;
}

/* Clearfix (clear floats) */
.rowMB::after {
  content: "";
  clear: both;
  display: table;
}

.columnSM {
  float: left;
  width: 33.33%;
  padding: 3px;
}

/* Clearfix (clear floats) */
.rowSM::after {
  content: "";
  clear: both;
  display: table;
}

.resultbutton{
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
display: inline-block;
padding:9px;
color: rgb(255, 255, 255);
text-decoration: none;
border-radius: 5px;
background-color: #6c757d;
transition: none; 
margin-top: 10px;
margin-bottom: 10px;
}   
